body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../assets/fondo-ceramica.jpg);
    background-size: cover;


    footer{
        margin-top: auto;
    }
}